#
# s3blkdev.conf
#
# default config
#

listen /tmp/s3blkdevd.sock
port 10809
workers 8
fetchers 2

s3host 
s3port 
s3ssl 1
s3accesskey 
s3secretkey 
s3bucket 
s3timeout 10000
# s3name
# s3maxreqsperconn 100

# [device1]
# cachedir /ssd/device1
# size 200000000000
